*.map
*.swp
*.js
.syntastic*
build
*.node
lib/**/*.d.ts
!typings/custom/**/*.d.ts
node_modules
target
npm-debug.log*
gs-utils.sublime-project
gs-utils.sublime-workspace
.vscode
patch.diff
package.yml
